/* main elements styling */
* {
 margin: 0;
}
body {
	/* background: black; */
}

/* header styling */
header {
 padding: 8px 12px 8px 12px;
	background: white;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

/* navigation styling */
nav ul {
	border: 1px black;
	border-style: dashed;
	padding: 5px;
 /* display: flex; */
	list-style-type: none;
}
nav li {
 border: 1px black;
	border-style: solid;
	display: inline;
}

/* section styling */
section {
	background: gray;
	/* color: white; */
}
