/* main elements styling */
* {
 margin: 0;
}

/* header styling */
header {
 display: flex;
 justify-content: space-between;
 align-items: center;
}

/* navigation styling */
nav ul {
 display: flex;
}
nav > li {
 text-decoration: none;
}
